<template name="listKecBrondong">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="cariPotensi"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Kecamatan Brondong</h1>
  {{/contentFor}}

  {{#ionView}}

    {{#ionContent}}
    {{#ionList}}
    
    {{#ionItem}}
    
    <div class="list">
        <div class="item item-divider item-dark">
            Luas Lahan
        </div>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics"></i>
            Luas Lahan Sawah
            <span class="item-note">
                973 Ha
            </span>
        </a>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics-outline"></i>
            Luas Lahan Non Sawah
            <span class="item-note">
                2.933 Ha
            </span>
        </a>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics-outline"></i>
            Luas Lahan Bukan Pertanian
            <span class="item-note">
                3.107 Ha
            </span>
        </a>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics-outline"></i>
            Total Luas Lahan
            <span class="item-note">
                7.013 Ha
            </span>
        </a>
        
        <div class="item item-divider item-assertive listPot-margin2">
            Hasil Bumi Pertanian
        </div>
        
        <a class="item item-icon-left item-stable listPot-margin">
            <i class=" icon ion-ionic"></i>
            Kelapa
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    149 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    33 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,22 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Cabe Rawit
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    589 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    1.157 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    1,96 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Siwalan
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    6 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    3 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,5 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Mangga
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    28.548 Pohon
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    716 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,025 Ton/Pohon
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Bawang Merah
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    6 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    3 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,5 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Jambu Biji
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    80 Pohon
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    16 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,2 Ton/Pohon
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Nangka
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    89 Pohon
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    9 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,101 Ton/Pohon
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Padi
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    841 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    5.409 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    6,43 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Pepaya
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    598 Pohon
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    34 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,057 Ton/Pohon
                </span>
            </li>
        </ul>
        
    </div>
    {{/ionItem}}
        
    {{/ionList}}
    {{/ionContent}}
    
  {{/ionView}}

</template>
